@use "./componets/mixings" as *;
@use "./componets/variables" as v;

body {
  margin: 0%;
  padding: 0%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

%text {
  object-fit: fill;
  height: 60px;
  font-size: 15x;
  line-break: 0.5;
  line-height: 1;
  white-space: inherit;
  text-align: justify;
  font-weight: 500;
  letter-spacing: 0cap;
   word-spacing: 5%;
 width: 180px;

}

%mobile-view-left-styles-rounds {
  width: 70%;
  height: 45%;
  bottom: 0%;
  right: 0%;
  top: 60%;
  @include flex(row);
  gap: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.main {
  max-height: 700px;
  @include tablet{
   max-height: 300px;
  }
  width: 100%;

  .main-flex {
    @include flex(row);

    .left-div {
      width: 50%;
      overflow: hidden;

      .bg-img {
        object-fit: contain;
        aspect-ratio: 3/4;
        height: 100%;
        position: relative;
        @include tablet{
          width: 65%;
          };
          @include mobile {
            width: 100%;
          };

        .left-styles-rounds {
            @include flex(row);
            position: absolute;

         @include tablet {
               width: 100%;
               top: 0%; 
               left: 55%;
              height: 100%;
              gap: 10px;
             
          }
            @include mobile {
              position: absolute;
              bottom: 0%;
              right: 0%;
              width: 70%;
              height: 45%;
             transform: translateY(8%);
              gap: 10px;
         }
        }

         .left-style {
          @include flex(column);
          width: 45%;
          height: 100px;
          align-self: self-end;
          justify-items: center;
          align-items: center;
          gap: 10px;
          top: 79%;
             @include tablet {
              gap: 20px;
              height: 150px;
              transform: translateY(32%);
              width: 55%;
            
            }

          .round-mint {
            background-color: v.$secondary_color;
            @include mobile {
              min-height: 40px;
              width: 60%;
              border-radius: 20px;
              
            }
             @include tablet{
               height: 70px;
              width: 50%;
              border-radius: 32px;
             }
          }

          .round-white {
            background-color: white;
            width: 85%;
            height: 60%;
            border-radius: 30px;
            overflow: hidden;
            object-fit: contain;
            @include tablet{
               height: 120px;
              width: 100%;
              border-radius: 42px;
             }
          }
          }

          .right-darkgreen-style {
           background-color: v.$primary_color;
          width: 55%;
          float: right;
         
           
          @include tablet {
            min-width:55%;
            border-radius:0px;
          }
         
          @include mobile{ 
             border-radius:50px;
            };
          

          .flex-colum {
            @include flex(column);
            .check-img {
              @include tablet {
                width: 50%;
                height: 50%;
                padding: 55px 35px;
              }
              @include mobile{
                width: 40%;
                height: 40%;
                padding: 15px 20px;
              }
            }

            .flex-row {
              @include flex(row);
              margin-left: 10%;
             @include mobile{ height: 150px;}
             @include tablet{
              height: 400px;
              margin-left: 2%;
             }
              .mint-left {
                background-color: v.$secondary_color;
                height: auto;
                border-radius: 30px;
                width: 75%;
                @include tablet{
                   border-radius: 40px;
                }
              }
              
                 
              

              .white-right {
                width: 40%;
                height: 100%;
                border-radius: 20px;
                background-color: white;
                 @include tablet{
                   border-radius: 30px;
                }
              }
            };
          };
         };
      }
    }

    .right-div {
      width: 50%;
      position: relative;
      .nav-bar {
        @include mobile {
          width: 100%;
          justify-content: right;
          @include flex(row);
          align-content: right;
        }
        @include tablet{
          justify-content: left;
        }

        ul {
          @include flex(row);
          width: auto;
          gap: 20px;
          margin-right: 15px;

          li {
            a {
              text-decoration: none;
              font-size: 14px;
              font-weight: bolder;
              color: v.$primary_color;
              &:hover{
                color: black
              }
            }
          }
        }
      }

      .flex-colum {
        @include flex(column);
        width: 100%;
        z-index: 0;
        gap: 10px;
       
        .text-container {
          height: 250px;
          color: v.$primary_color;
          object-fit: contain;
          @include mobile{
            padding: 0% 15px;
          }
           @include tablet{
                   padding:0% 25px;
                }
          .main-highlight {
            font-weight:600;
            letter-spacing: 0;
            @include mobile {
              line-height: 1;
              font-size: 2.5rem;
              max-width: 200px;
              
            }
             @include tablet{
                   width: 100%;
                   font-size: 2.5rem;
                }
          }
          p {
            @extend %text;
            @include tablet{
              width: 330px;
              font-size: 18px;
              font-weight: bold;
              
            }

          }
        }
        .img-noddesk{
          @include tablet{
          margin-left: 140px;
          width: 200px;
          }
        }
      }

      .bg-leafs {
        position: absolute;
        top: 50%;
        width: 85%;
        z-index: -1;
             @include tablet{
              top: 0%;
              left: 50%;
              width: 100%;
             }
      }
    }
  }
}
