


$desktop:1024px;
$mobile:425px;

@mixin desktop{
    @media (min-width:#{$mobile}) and (max-width:#{$desktop}){
        @content;
    }
    }
@mixin mobile{
    @media (max-width:#{$mobile}){
        @content;
    }
    }


