@use 'mixing' as *;
$color: #d3d0d0;

ul{
    list-style: none;
    display: flex;
    gap:20px;
    padding-top: 10px;
}

.main-flex{
display: flex;
flex-direction: row;
min-height:550px ;
@include mobile{
  flex-direction: column-reverse;  
 height: 600px;
 
}

.right_div{
    width: 40%;
    height:550px ;
    align-content: center;
    justify-content: center;
    padding-left: 10px;
    
    .noddesk_img>img{
      width: 40%;
      height: 30%;
      padding: 5%;
      @include mobile{
        position:absolute;
        top: 0%;
        width: 25%;
        height: 4%;
      }
    }
    
    .flex-box-right{
        display: flex;
        flex-direction: row;
        height: 300px;
        align-self: center;
        justify-items: center;
        
        .hash-box{
            width: 60px;
            height: 100%;
            background:$color;
              @include mobile{
               height: 100px; 
               min-width: 50px; 
            }
        };
        .text-container{
          margin: 50px 15px;
          gap: 30px;
            @include mobile{
               margin: 0px 15px; 
               
            }

          .highlight{
            font-size: 1rem;
          };
          .main-highlight{
            font-size: 2rem;
            font-weight: bolder;
            width: 20px;
            
          };
          .small-text{
            font-size: small;
            @include mobile{
                width: 250px;
                font-size: medium
            }
            
          }
        };
    }
}




.left-div{
  width: 60%;
    height:550px;
     overflow: hidden;
       @include mobile{
        width: 100%;
        margin-left: 10px;
       }
    .nav{
        justify-items: right;
       padding-right:5%;
    
         
      ul{
        
        @include mobile{
        font-size: 10px; 
      }
         
      }
    }


    .hash-box{ 
          background-color:$color;
          height: 300px;
          width: 100%;
          position: relative;
          top: 13%;
         
          @include mobile{
               height: 200px; 
               top: 10%;
              }

        .phone-img{
          position: relative;
          left:1%;
          bottom:15%;
          width: 200px;
          height: 440px;
          z-index:0;
            @include mobile{
               height: 220px; 
               width: 110px; 
               bottom:5px;
            }
         .Picture1{
            position: absolute;
            width:100%;
            height: 100%;
            left:1%;
            bottom:1%;
            z-index:1;
            
         }
         .Picture2{
            position: absolute;
             width:100%;
            height: 100%;
            z-index: 2;
             bottom:1%;
           
         }
           .Picture3{
            position: absolute;
            left:5%;
            bottom:3%;
            right: 5%;
            width:90%;
            height: 95%;
            z-index: 3;
         }
         
        }
        .img-flex-box{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 15%;
        width: 100%;
        left: 30%;
        height: 200px;
        gap: 20px;
         @include mobile{
            top: 24%;
               height: 100px; 
               width: 220px; 
               left: 40%;
            }
        
        .box-img{
            
         img{width: 100%;
          height: 100%;
         }
        }
        }
    }
}
}