@mixin flex($direction){
  display: flex;
  flex-direction: $direction;
}






$tablet-width: 768px;
$mobile-width: 481px;





@mixin mobile {
  
 @media (max-width: #{$mobile-width - 1}){ 
    @content;
    
  }
 @warn 'mobile media as be support';
}
  
@mixin tablet {
 @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}){ 
   @content;
    
  }
   @warn 'tablet media as be support';
}

 

    
  



@mixin fontsize($value){
  
}
